@import '../../node_modules/lineicons-react/dist/lineicons.css';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;

  box-sizing: border-box;
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(2.5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-2.5deg); }
  100% { transform: rotate(0deg); }
}

.animation-shake {
  animation: tilt-shaking 0.25s ease-in-out infinite;
}

.hover\:animation-shake:hover {
  animation: tilt-shaking 0.25s ease-in-out infinite;
}